# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
packages/
*.nupkg

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store
